body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(43, 42, 42);
    color:rgb(11, 117, 231);
    margin: 20px;
    text-align: center;
    background-image: url("https://background-tiles.com/overview/black/patterns/large/1035.png");
      background-repeat: repeat;
    cursor: url(https://img.icons8.com/?size=35&id=BG7R3C9bJpCt&format=png&color=000000), auto;
    }


    h1 {
    margin: 0 auto 10px auto; 
    display: block; 
    max-width: 700px; 
    padding: 10px; 
    border: 2px solid #5597e8; 
    border-radius: 10px; 
    box-shadow: 0 0 15px #1685ec, 0 4px 10px rgba(0, 0, 0, 0.4); 
}


p, ul, ol, table {
    line-height: 1.5;
    text-align: center;
    max-width: 250px;
    margin: 0 auto 1em auto;
    color: aliceblue;
}

p {
    max-width: 450px
}

ul, ol {
    padding-left: 10px;

}

table {
    background-color: rgb(79, 74, 74);
    width: 60%;
    margin: 0 auto 10px auto;
    max-width: 500px;
}

a {
    color: white
}
a:hover {
    color: grey;
}

th, td {
    border: 1px solid black
}

img {
    border: 2px solid #3a83f9; 
    border-radius: 8px; 
    display: block; 
    margin: 0 auto 1em auto; 
    box-shadow: rgba(0, 0, 0, 0.4) -5px 5px; 
}

h2 {
    color: aliceblue;
}

u {
    color: rgb(20, 142, 248);
}
